.wrapper {}

.main {}

.relative {
    position: relative;
    min-height: 100vh;

}

.sticky {
    position: sticky;
    top: 40px;
    left: 60px;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fixed {
    position: fixed;
    top: 50px;
    right: 50px;
}

.btn-box {
    padding: 50px 20px;
}



.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1px;
    color: #fff;
    border: 1px solid green;
    background: green;
    border-radius: 6px;
    text-decoration: none;
    transition: transform 1s ease-in;
}

.btn:hover {
    background: transparent;
    color: green;
    transition: all 1s ease-in-out;
    transform: scale(1.3) rotate(360deg);
}

/* 
.holder{
    width: 350px;
    height: 220px;
    padding: 15px 10px 20px 10px;
    margin: 30px;
    border: 2px dashed red;
    background: green;
}


.wrap{
    text-align: justify;
}

.left{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.right{
    float: right;
    margin: 20px 0 20px 20px;
    width: 100px;
    height: 50px;
}*/

.transform {
    background: hotpink;
    transform: skew(-20deg);
    padding: 20px 40px;
}

.holder {
    transform: skew(20deg);
}




@keyframes cube {
    0% {
        position: absolute;
        top: 0;
        left: 0;
        background: red;
    }

    25% {
        top: calc(100% - 100px);
        left: 0;
        background: blue;
    }

    50% {
        top: calc(100% - 100px);
        left: calc(100% - 100px);
        background: green;
    }

    75% {
        top: 0;
        left: calc(100%-100px);
        background: yellow;
    }

    100% {
        position: absolute;
        top: 0;
        left: 0;
        background: red;
    }
}







.anim-box {
    position: relative;
    width: 300px;
    height: 300px;
    background: turquoise;
}

.box {
    animation: cube 5s infinite;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: red;
}



.carts {
    text-align: center;
    color: white;
    font-size: 25px;
    max-width: 600px;
}

.carts__box {
    background: #0d5825;
    margin: 20px;
}



.carts__box {
    margin: 20px;
}

.card {
    margin: 20px 0;
    width: 150px;
    transition: .5s;

}

.center {
    transform: rotate(-10deg);

}

.center:hover {
    transform: rotate(-10deg) translate(0, -30px);
    transition: .3s;
}

.before {
    transform: rotate(-20deg) translate(100px, 30px);
}

.before:hover {
    transform: rotate(-20deg) translate(100px, -10px);
    transition: .3s;
}

.after {
    transform: rotate(10deg) translate(-100px, 30px);
    transition: .3s;
}

.after:hover {
    transform: rotate(10deg) translate(-100px, -10px);
}


.block {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.cube__1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background: blue;
    opacity: 0.9;
    z-index: 1;
}

.cube__2 {
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-35%, -35%);
    width: 100px;
    height: 100px;
    background: red;
    opacity: 0.9;
}

.cube__3 {
    position: absolute;
    top: 65%;
    left: 65%;
    transform: translate(-65%, -65%);
    width: 100px;
    height: 100px;
    background: green;
    opacity: 0.9;
}


.menu {
    display: flex;
}


.banner {
    display: flex;
    justify-content: center;
    align-items: center;

    background: grey;
  
    transition: .6s;
    padding: 0;

}


.text__ban {
    transform: rotate(90deg);
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.content-box {
    display: flex;
    text-align: center;
    transition: .6s;
    background: rgb(218, 123, 123);
    margin: 0;
    padding: 0;
    opacity: 0;
    transition-duration: 2s;
}

.list {

    padding: 20px 20px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: left;
    width: 500px;
    list-style: none;


}


.item::before {
    content: url(/img/Rhombus_34545.png);
    width: 5px;
    height: 5px;
    padding: 0px 20px;

}

.item {
    padding: 10px;
}

.menu:hover .banner {
    transform: translate(200px, 0px);
    opacity: 0;
    transition: all .8s;
}

.menu:hover:hover .content-box {
    opacity: 1;
    transition: all .8s;
    transform: translate(-100px, 0);
}

.item:hover {
    color: yellow;
}