blockquote{
    color:green;
}

a[href^='https://']{
    color:red;
}

.list>li:last-child{
background: green;
}

p:nth-child(3){
    font-size: 26px;
}   

.text-box{

}
.text-box>h3:first-child{
    color:pink;
}


#greycol{
color:grey;
}
.yellow{
color:yellow;
}
.text-box div>p{
    color:red;
}

p:nth-child(7){
color:green;
}

.bg-box{
    width: 100%;
    height: 100vh;
    background:url(img/lamp.png) 100% 0 / 4% repeat-x,
    url(/img/grass.png) 50% 100% / 20% repeat-x,
    url(/img/hadghog.webp)  0 / 3% repeat-y,
    url(/img/home.png)  50% / 45% no-repeat,
    green url(/img/donat.png) 100%/ 3% repeat-y;
}