

.wrap{
    text-align: justify;
    max-width: 615px;
    height: auto;
}

.left{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 100px;
}

.right{
    float: right;
    margin: 20px 0 20px 20px;
    width: 100px;
    height: 50px;
}

.block{
    width: 350px;
    height: 220px;
    padding: 15px 10px 20px 10px;
    margin: 30px;
    border: 2px dashed red;
    background: green;
}