body{
    margin: 0;
}
html{
    box-sizing: border-box;
}

*,
*:before,
*::after{
    box-sizing:inherit;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 15px 0;
    background: #D2B837;
}

.header-wrap {
    display: flex;
    align-items:center;

}

.nav {
    flex-grow: 1;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    margin-left: 15px;

}

.nav-list {
    display: flex;
    align-items:center;

}

.nav-item + .nav-item {
    padding: 15px;
}

.nav-link {
    color: #000;
    text-decoration: none;
}
.nav-link:hover {
    opacity: .7;
}




.main {
    display: flex;
    flex-grow: 1;

} 

.content {
    background: pink;
    padding: 15px;
    text-align: center;
}

.sidebar {
    flex: 0 0 210px;
    padding: 15px;
    text-align: center;
}

.sidebar-left {
    background: #C798B9;
    order: -1;
}

.sidebar-right {
    background: #9CB1C7;
}



.footer {
background: #86EC86;
padding: 15px;
text-align: center;
}

.row{
    display: flex;
    flex-wrap:wrap;
    margin: 0 -15px;
}

.col{
    width: 33.333%;
    padding: 0 15px 30px;
}

.card{
    border: 1px solid #000;
    border-radius: 20px;
    padding: 15px;
}

.card-img{
    height: 80px;
    width: 80px;
    border-radius:50%;
    background: #C7B7B7;
    margin: 0 auto;
}

.card-header{

}

.card-title a{
    color: #000;
    text-decoration: none;
}

.card-title a:hover{
    opacity: .8;
}

.card-body{

}

.card-footer{

}

.btn{
    color: #fff;
    padding: 2px 10px;
    border-radius:12px;
    background: #685174;
    border: 1px solid  #685174;
    text-decoration: none;
}

.btn:hover{
    background: #fff;
    color: #685174;
}


.holder{
display: flex;
max-width: 1320px;
flex-wrap: wrap;


}

.holder__item{
    text-align: center;
    padding: 40px 0;
}

.red{
    background: red;
    flex: 0 1 50%;
    order: 1;
}

.yelow{
    background: yellow;
    flex: 0 1 50%;
    order:2;
}
.purple{
    background: purple;
    flex: 0 1 33.3333%;
    order: 3;

}

.blue{
    background: blue;
    flex: 0 1 33.3333%;
    order:4;
}
.green{
    background: green;
    flex: 0 1 33.3333%;
    order:5;
}